<!DOCTYPE html>
<html>
<div id="header">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="navbar-brand"><img src="../images/3.png"width="40"height="35" alt="QuantumUI Logo" /></li>
                <li class="active"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#aboutus"><i class="fa fa-shield"width="80"height="80"></i> About</a></li>
                <li><a href="templates/contact.jsp"><i class="fa fa-comment"></i> Contact</a></li>
                <li ><a href="templates/searchWithKey.html"><i class="fa fa-search"></i> Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right dropdown">
                <li data-toggle="dropdown"><a><span class="glyphicon glyphicon-log-in"></span> Login <span class="caret"></span></a></li>

                <ul class="dropdown-menu">
                    <li><a href="#admin">Admin</a></li>
                    <li><a href="pages/JobSeekerLoginPage.jsp">JobSeeker</a></li>
                    <li><a href="pages/EmployerLoginPage.jsp">Employer</a></li>
                </ul>
            </ul>

        </div>
    </div>
</nav>
</div>
</html>